:root {
  --background-color: #FAFAFA;
  --facebook-color: #3F62A9;
  --naver-color: #00BD39;
  --kakao-color: #EED700;
  --main-color: purple;
  
  --light-blue: #0095f6;
  --heart-color: #ED4956;
  --comment-color: #1A5F7A;

  --success-color: #2F80ED;
  --warning-color: #38ef7d;
  --error-color: #DC281E;
}
body {
  -ms-overflow-style: none; 
  /* 인스타그램에서 가져온 폰트 ( 이걸 사용하는지 정확히는 모르겠음 ) */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}