:root {
  --background-color: #FAFAFA;
  --facebook-color: #3F62A9;
  --naver-color: #00BD39;
  --kakao-color: #EED700;
  --main-color: purple;
  
  --light-blue: #0095f6;
  --heart-color: #ED4956;

  --success-color: #2F80ED;
  --warning-color: #38ef7d;
  --error-color: #DC281E;
}